/* font-family: 'Gothic A1', sans-serif;
font-family: 'Gowun Batang', serif; */

.hidden {
    display: none;
}

body {
    background-color: #eeeac0;
    width: 375px;
    height: 812px;
    margin: auto;
    border: black 2px solid;
    font-family: 'Gothic A1', sans-serif;
    /* background: no-repeat center/50% url(img/download.jpeg); */
}

div {
    display: table; margin-left: auto; margin-right: auto;
}

img {
    display: table; margin-left: auto; margin-right: auto;
    width:300px;
    pointer-events : none;
}

.logo {
    float: left;
}

.logo img {
    width: 100px;
}
.start-image {
    width: 300px;
}

.progress {
    width: 20px;
}

.loading {
    margin-top: 100px;
}

h1 {
    font-size: 20px;
    width: 350px;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 28px;
    color: #4D7960;
}

h2 {
    font-size: 20px;
    width: 350px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}
p {
    display: table; margin-left: auto; margin-right: auto;
}

button {
    border-radius: 18px;
    border: black 2px solid;
    color: black;
    background-color: #eeeac0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    align-items: flex-start;
    margin: 10px auto;
    transition: background-color .5s;
    font-family: 'Gothic A1', sans-serif;
    width: 350px;
}



.start-button {
    background-color: #4D7960;
    border: #4D7960;
    color: white;
    margin-bottom: 50px;
}

.next-button {
    background-color: #261e1c;
    color: white;
}

.copyright {
    color: lightgray;
}

.button19 {
    background-color: #95b9f4;
}

.background19 {
    background-color: #95b9f4;
    transition: background-color 1s;
}

.button20 {
    background-color: #bad1fb;
}

.background20 {
    background-color: #bad1fb;
    transition: background-color 1s;
}

.button7 {
    background-color: #786a78;
}

.background7 {
    background-color: #786a78;
    transition: background-color 1s;
}

.on-mouseenter {
    background-color: black;
    color: white;
    transition: color .5s;
    transition: background-color .5s;
}